*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana;
    background-color: #002345;
    color: #abcdef;
}
h1{
    text-align: center;
    margin: 80px 0 20px 0;
    color: white;
}
#subtitulo{
    text-align: center;
    margin-bottom: 80px;
    color: white;
}
legend{
    font-size: 1.7em;
    padding: 0 7px;
}
fieldset{
    width: 450px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    padding: 40px 30px;
    height: 100px;
}
#reloj{
    font-size: 2em;
    color: white;
}